table {
    width: 100%;
    box-shadow: none !important;    
}

th{
    border: 1px solid lightgray;
    text-align: center !important;
    background-color: #159895;
    color: #fff;
}

td{
    border: 1px solid lightgray;
    text-align: center !important;
}