<div class="content-wrapper " >  
    <div class="card m-3">    
        <div class="card-header">       
            <div class="row">
              <div class="col-12 col-sm-6 col-md-8 col-lg-8 col-xl-9 col-xxl-10">
                  <div class="header-title">List of Service Purchase Order</div>      
              </div>  
              <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">                
                <div style="text-align: right;">
                  <button type="button" class="btn btn-labeled btn-info btn-sm" (click)="createNewPo()">
                    <span class="btn-label"><i class="fa fa-plus-square" style="margin-right: 5px;"></i></span>Create Service PO
                  </button>                  
                </div>        
              </div>
            </div>
          </div>              
    <div class="card m-2 text-center p-4" *ngIf="!podata || podata.length==0">    
        <div class="text-center">
            <img src="assets/exc.png" height="64px" width="64px" />
            <p style="font-weight: 600;">No PO Found!</p>
        </div>
    </div>
    <div class="card m-2" *ngFor="let i of podata">    
         <div class="card-body">                    
                <div class="row m-0 p-0 " >
                    <div class="col-10">
                        <div>
                            <div *ngIf="i.pending>0"><span class="pending">Pending..</span></div>
                            <div *ngIf="i.pending==0"><span class="completed">Completed..</span></div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="d-flex flex-row-reverse">
                            <div class="p-1">
                                <button class="btn btn-danger btn-sm" (click)="deletepo(i)">                                
                                    <i class="bi bi-trash3-fill"></i>
                                </button></div>
                            <div class="p-1">
                                <button class="btn btn-primary btn-sm" (click)="editpo(i)">
                                <i class="bi bi-pencil-square"></i>
                                </button></div>
                            <!-- <div class="p-1">
                                <button class="btn btn-success btn-sm"  (click)="convertbill(i)">
                                <i class="bi bi-basket2-fill"></i>
                                CONVERT TO BILL</button></div> -->
                        </div>
                    </div>  
                    <div class="col-12">  
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                <th>PO NO</th>
                                <th>PO DATE</th>
                                <th>ORDER VALUE</th>
                                <th>VENDOR NAME</th>
                                <th>EXP.. DELIVERY DATE</th>                          
                                <th>ORDER QTY</th>
                                <th>RECEIVED QTY</th>                                
                                <th>BACK ORDR QTY</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ i.pono }}</td>
                                <td>{{ i.podate }}</td>
                                <td>{{ i.net }}</td>
                                <td>{{ i.vendorname }}</td>
                                <td>{{ i.expdelidate }}</td>                        
                                <td>{{ i.ordered }}</td>
                                <td>{{ i.received }}</td>
                                <td>{{ i.pending }}</td>                                
                            </tr>
                            </tbody>                    
                        </table>         
                    </div>  
                  
                    <div class="col-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                <th>CODE</th>
                                <th>NAME</th>
                                <th>HSN</th>
                                <th>SKU</th>
                                <th>GODOWN</th>                          
                                <th>RATE</th>
                                <th>DISC</th>
                                <th>TAX</th>
                                <th>BACK ORDR QTY</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let r of i.polistDetails">
                                <td>{{ r.pcode }}</td>
                                <td>{{ r.pname }}</td>
                                <td>{{ r.hsn }}</td>
                                <td>{{ r.sku }}</td>
                                <td>{{ r.godown }}</td>                        
                                <td>{{ r.rate }}</td>
                                <td>{{ r.disc }}</td>
                                <td>{{ r.tax }}</td>
                                <td>{{ r.pqty }}</td>
                            </tr>
                            </tbody>                    
                        </table> 
                    </div>   
                </div>         
         </div>
    </div>
</div>
</div>

