.heading
{
    font-weight: 600;
    text-align: center;
}

.details{
    text-align: center;
}

.outstanding{
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
}

.mat-column-product {
    flex: none;
    width: 300px;
}
